/* This will change, because for serious. */

@import "compass/reset";
@import "bourbon";
@import "bitters/bitters";
@import "neat";

body {
  @include outer-container();
}

h1, h2, h3, h4, h5, strong, b {
  font-weight: bold;
}

i, em, cite, blockquote {
  font-style: italic;
}

header, section, footer {
  padding: 3em 0 0 0;
}