{% extends "page.html" %}

{% block title %}Mutter{% endblock %}
{% block head %}{{ parent() }}{% endblock %}

{% block hero %}
  <h1>Mutter: {{ slogan }}</h1>
{% endblock %}

{% block content %}
<section>
  <p>Randomly-generated text is hard: you should let someone else do the work! <a href="http://github.com/eaton/mutter">Mutter</a> is a simple PHP wrapper around <a href="http://www.schneertz.com/rmutt">rmutt</a>, a swanky little utility that uses grammar-definition files to generate structurally meaningful text.</p>
</section>

<section>
    <h2>Click these to make fun-times</h2>
    <dl>
{% for item in generators %}        <dt class="{{ item.category }}"><a href="/{{ item.name }}">{{ item.title }}</a></dt>
        <dd>{{ item.description }}</dd>
{% endfor %}
</section>
{% endblock %}