{% extends "page.html" %}

{% block title %}Mutter{% endblock %}
{% block head %}{{ parent() }}{% endblock %}

{% block hero %}
  <h1>Mutter: Random Text on Tap</h1>
{% endblock %}

{% block content %}

<section>
<h2>Wait, what the?</h2>
<p></p>
<a href="https://github.com/eaton/mutter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</section>

<section>
<h2></h2>
{% for item in navigation %}  <article class="{{ item.category }}">
    <h3><a href="/generators/{{ item.name }}">{{ item.title }}</a></h3>
    <p>{{ item.description }}</p>
  </article>{% endfor %}
</section>
{% endblock %}

